@model List<NewWq.Dto.CommodityDto>
@{
    ViewBag.Title = "列表页";
    List<NewWq.Dto.CategoryDto> modelList = ViewBag.Categories;
}
@section header{
    <link href="~/Content/css/list.css" rel="stylesheet" />
    <style>
        .pagination > li > a {
            margin-left: 10px;
            border-radius: 0 !important;
        }
    </style>
    <script>
        window.onload = function () {
            var item = window.location.search.substr(1);

            var alist = this.document.querySelectorAll(".pagination li a");

            for (var i = 0; i < alist.length; i++) {
                var href = alist[i].getAttribute("href") + "&" + item;

                alist[i].setAttribute("href", href);
            }


        }

    </script>
}

<!-- 列表头 -->
<div class="list-head">
    <h2>响应式网站模板</h2>
    <p>让你轻松打造属于自己的炫酷网站</p>
</div>
<div class="container">
    <div class="row">
        <div class="hidden-xs">
            <div class="col-sm-4 col-md-2"></div>
            <div class="col-sm-4 col-md-2 list_menu" style="background: #fe9625">
                <a href="/Home/List?CategoryId=@modelList[0].CategoryId">@modelList[0].CategoryName</a>
            </div>
            <div class="col-sm-4 col-md-2 list_menu" style="background: #f6da3d">
                <a href="/Home/List?CategoryId=@modelList[1].CategoryId">@modelList[1].CategoryName</a>
            </div>
            <div class="col-sm-4 col-md-2 list_menu" style="background: #89c516">
                <a href="/Home/List?CategoryId=@modelList[2].CategoryId">@modelList[2].CategoryName</a>
            </div>
            <div class="col-sm-4 col-md-2 list_menu" style="background: #318fd8">
                <a href="/Home/List?CategoryId=@modelList[3].CategoryId">@modelList[3].CategoryName</a>
            </div>
            <div class="col-sm-4 col-md-2"></div>
        </div>
    </div>
</div>
<!-- /列表头 -->
<!-- 热门商品 -->
<div id="wq_hot">
    <!--标题-->
    <div class="title text-center">
        <h1><strong>热门商品</strong></h1>
        <img class="stars" src="~/Content/img/stars.png" alt="">
    </div>
    <!--主要内容-->
    <div class="container">
        <div class="row">

            @{
                foreach (var commodityDto in Model)
                {
                    <div class="col-sm-6 col-md-4 col-lg-3 ">
                        <a href="/Home/Detail?comid=@commodityDto.Id" class="thumbnail">
                            <img src="/@commodityDto.MainImage" alt="@commodityDto.Title">
                            <div class="caption">
                                <h4>@commodityDto.Title</h4>
                            </div>
                        </a>
                    </div>

                }
            }

        </div>
    </div>
    <div style="text-align: center;">
        <nav aria-label="Page navigation">
            <ul class="pagination">

                @{ int num = 3;
                    if (ViewBag.PageCount <= num)
                    {
                        for (int i = 1; i <= ViewBag.PageCount; i++)
                        {
                            <li class="@(ViewBag.PageIndex==i?"active":"")"><a href="/Home/List?pageIndex=@i">@i</a></li>
                        }
                    }
                    else
                    {
                        //上一个
                        <li class="@((ViewBag.PageIndex-1)<1?"disabled":"")">
                            <a href="/Home/List?pageIndex=@((ViewBag.PageIndex-1)>1?(ViewBag.PageIndex-1):1)">
                                <span>&laquo;</span>
                            </a>
                        </li>

                        int start = Math.Max(ViewBag.PageIndex - num / 2, 1);
                        int end = Math.Min(start + num - 1, ViewBag.PageCount);
                        int start1 = end - num + 1 > 0 ? end - num + 1 : 1;
                        start = Math.Min(start, start1);

                        for (int i = start; i <= end; i++)
                        {
                            <li class="@(ViewBag.PageIndex==i?"active":"")"><a href="/Home/List?pageIndex=@i">@i</a></li>
                        }

                        //下一个
                        <li class="@((ViewBag.PageIndex+1)>ViewBag.PageCount?"disabled":"")">
                            <a href="/Home/List?pageIndex=@((ViewBag.PageIndex+1)>ViewBag.PageCount?ViewBag.PageCount:(ViewBag.PageIndex+1))">
                                <span>&raquo;</span>
                            </a>
                        </li>
                    }
                }

            </ul>
        </nav>
    </div>

</div>
<!-- /热门商品 -->
<!-- 我们的客户 -->
<section id="wq_link" class="hidden-xs hidden-sm">
    <!--标题-->
    <div class="title text-center">
        <h1><strong>我们的客户</strong></h1>
        <img class="stars" src="~/Content/img/stars.png" alt="">
    </div>
    <!--主要内容-->

    <div class="logos container">
        <div class="row">
            <div class="col-md-2 col-xs-6"><a href="#"><img src="~/Content/img/kh1.jpg" alt=""></a></div>
            <div class="col-md-2 col-xs-6"><a href="#"><img src="~/Content/img/kh2.jpg" alt=""></a></div>
            <div class="col-md-2 col-xs-6"><a href="#"><img src="~/Content/img/kh3.jpg" alt=""></a></div>
            <div class="col-md-2 col-xs-6"><a href="#"><img src="~/Content/img/kh4.jpg" alt=""></a></div>
            <div class="col-md-2 col-xs-6"><a href="#"><img src="~/Content/img/kh5.jpg" alt=""></a></div>
            <div class="col-md-2 col-xs-6"><a href="#"><img src="~/Content/img/kh6.jpg" alt=""></a></div>
        </div>
    </div>
</section>
<!-- /我们的客户 -->
